*{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

body{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cabecalho{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.2vh;
    background-color:#000048;
}
.opcoes{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    height: 100%;
}
.opsCabe1{
    width: 10vw;
    height: 100%;
    background-color: #fff;
    border:solid 1px #000048;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}


.opsCabe2{
    width: 10vw;
    height: 100%;
    background-color: #fff;
    border:solid 1px #000;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}



.opsCabe3{
    width: 10vw;
    height: 100%;
    background-color: #fff;
    border:solid 1px #000;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}



.corpo img{
    width: 100%;
}

.corpo{
    height: 94vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoEstoque img{
    width:110%;
    margin-bottom: 2vh;
}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
}
.barra_busca{
    width: 35vw;
    height: 2.5vh;
    display: flex;
    align-items: center;
    border : 1px solid #000048;
    border-radius: 3px;
    margin-right: 2vw;
}
.barra_busca input{
    display: table-cell;
    width: 90%;
    margin-left: 0.5vw;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;
    color:#000;
}

.pesquisa .btn_busca{
    background-color: #000048;
    color: #fff;
    margin-right: 2vw;
    height: 3.5;
    width: 5vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pesquisa .btn_busca img{
    width:47%;
    height: 80%;
    cursor: pointer;
}

.filtros{
    width: 7vw;
    height: 2.5vh;
    margin-right:3vw ;
    border : 1px solid #000048;
    border-radius: 3px;
}

.tabela{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 45vh;
    background-color: #e6e6e6;
    border: 1px solid #000048;
    border-radius: 3px;
}
.tabela .opcoes{
    background-color: #000048;
    height: 4vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tabela .opcoes {
    color:#fff;
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 1px #000048 solid;
}

.tabela .opcoes .op1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
    background-color: #494981;
    color: #fff;
    border-bottom: none;
}
.tabela .opcoes .op2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.tabela .opcoes .op3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
}   

.tabela .opcoes .op4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.colunas{
    display: flex;
    align-items: center;
    background-color: #494981;
    color: #fff;
    font-weight: 800;
    font-size: 1.2rem;
    height: 3.5vh;
}
.faixa{
    display: flex;
    align-items: center;
    height: 3.5vh;
}
.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 100%;
    border-left: solid 1px #000048;
    flex-wrap: wrap;
}
.colunas #nom_col{

    border: none;
}
.nom_col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16vw; 
    height: 100%;
    border-right: solid 1px #000048;
    flex-wrap: wrap;
}

.ite_col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34vw; 
    height: 100%;
    border-right: solid 1px #000048;
    flex-wrap: wrap;
}
.poSerPro_col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.5vw; 
    height: 100%;
    flex-wrap: wrap;
}
.obs_para{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    border-left: 1px #000048 solid;
    height: 100%;
}
.valUni_para{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 100%;
    border-left: solid 1px #000048;
    flex-wrap: wrap;
}


.botoes{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    /* opacity: 0; */
}
.btnAdd{
    background-color: #000048;
    border-radius: 3px;
    font-weight: 800;
    width: 10vw;
    color: #fff;
    height: 3vh;
    cursor: pointer;
}
.blur{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000047;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iframe_add{
    position: absolute;
    top:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 40vw;
    height: 50vh;
}
.bar_sup{
    width: 100%;
    height: 4vh;
    background-color: #000048;
    display: flex;
    justify-content: flex-end;
}
.bar_sup .btn_sair{
    background-color: #fff;
    width: 4vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #f4f4f4 solid;
}
.bar_sup .btn_sair img{
    width: 40%;
}
.conteudo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    height: 55vh;
}
.conteudo h1{
    margin-top: 6vh;
}
.conteudo .linha1{
    display: flex;
    width: 90%;
    margin-top: 6vh;
    justify-content: space-between;
}
.conteudo .linha1 .prod_add{
    border: 1px solid #000048;
    border-radius: 3px;
    height: 4vh;
    width: 26vw;
    display: table;
    background-color: #fff;
}
.conteudo .linha1 .prod_add input{
    border: none;
    width: 26vw;
    height: 4vh;
    outline: none;
    margin-left:1vw;
    font-weight: 800;
}
::placeholder{
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.5vh;
}
.conteudo .linha1 .qtd_add{
    border: 1px solid #000048;
    border-radius: 3px;
    width: 11vw;
    height: 4vh;
    display: table;
    background-color: #fff;
}
.conteudo .linha1 .qtd_add input{
    border: none;
    width: 11vw;
    height: 4vh;
    outline: none;
    margin-left: 1vw;
    border-radius: 3px;
    font-weight: 800;
}
.conteudo .linha2{
    display: flex;
    width: 90%;
    margin-top: 5vh;
    justify-content: space-between;
}
.conteudo .linha2 .valUni{
    width: 21vw;
    height: 4.5vh;
    border: 1px solid #000048;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    margin-right:1vw ;
    outline: none;
    font-weight: 500;
    color: #727171;
    font-size: 1rem;
}
.conteudo .linha2 .dat{
    border: 1px solid #000048;
    border-radius:3px ;
    height: 4.5vh;
    outline: none;
    font-weight: 500;
    color: #727171;
    font-size: 1rem;
}
.conteudo .linha2 .uso{
    border: 1px solid #000048;
    border-radius: 3px;
    width: 20vw;
    height: 4.5vh;
    outline: none;
    font-weight: 500;
    color: #727171;
    font-size: 1rem;
}

.conteudo .linha3{
    display: flex;
    width: 90%;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}
.conteudo .linha3 .obs{
    width: 100%;
    height: 35vh;
    border-radius: 3px;
    border:1px solid #000048;
    background-color: #fff;
}
.conteudo .linha3 .obs textarea{
    width: 98%;
    resize:none;
    border-radius: 3px;
    border:none;
    margin-left: 1vw;
    outline: none;
    font-size: 1rem;
}
.conteudo .botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-top: 7vh;
}
.conteudo .botoes .btn_can{
    background-color: #000048;
    color: #fff;
    font-weight: 800;
    width: 17vw;
    height: 5vh;
    border-radius: 3px;
    cursor: pointer;
}
.conteudo .botoes .btn_ok{
    background-color: #000048;
    color: #fff;
    font-weight: 800;
    width: 10vw;
    height: 5vh;
    border-radius: 3px;
    cursor: pointer;
}
.addEstoque{
    width: 50vw;
    height: 70vh;
    border: 1px solid #000;
    position: absolute;
    opacity: 0; 
     z-index: -1; 
}