*{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

body{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cabecalho{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.2vh;
    background-color:#000048;
}
.opcoes{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    height: 100%;
}
.opsCabe1{
    width: 10vw;
    height: 100%;
    background-color: #fff;
    border:solid 1px #000;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}


.opsCabe2{
    width: 10vw;
    height: 100%;
    background-color: #fff;
    border:solid 1px #000;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}



.opsCabe3{
    width: 10vw;
    height: 100%;
    background-color: #fff;
    border:solid 1px #000;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}



.corpo img{
    width: 100%;
}

.corpo{
    height: 94vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 32vh;
    border: 2px solid #000048;
    border-radius: 3px;
}
.login h1{
    margin-top: 2.5vw;
    font-size: 2.5rem;
}

.senha{
    margin-top: 2vw;
    width: 22vw;
    height: 2.5vh;
    display: table;
    border : 1px solid #000048;
    border-radius: 3px;
}

.senha input{
    display: table-cell;
    width: 90%;
    margin-left: 0.5vw;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;

}

.usuario {
margin-top: 2vw;
width: 22vw;
height: 2.5vh;
display: table;
border : 1px solid #000048;
border-radius: 3px;
}

::placeholder{
    font-weight: 800;
}
.usuario input {
    display: table-cell;
    width: 90%;
    margin-left: 0.5vw;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;

}
   

.btn{
    margin-top: 2.5vw;
    width: 7vw;
    height: 3.5vh;
    background-color: #000048;
    color: #fff;
    font-weight: 800;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estoque/Entrada */

.logoEstoque img{
    width:110%;
    margin-bottom: 2vh;
}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
}
.barra_busca{
    width: 35vw;
    height: 2.5vh;
    display: flex;
    align-items: center;
    border : 1px solid #000048;
    border-radius: 3px;
    margin-right: 2vw;
}
.barra_busca input{
    display: table-cell;
    width: 90%;
    margin-left: 0.5vw;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;
    color:#000;
}

.pesquisa .btn_busca{
    background-color: #000048;
    color: #fff;
    margin-right: 2vw;
    height: 3.5;
    width: 5vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pesquisa .btn_busca img{
    width:47%;
    height: 80%;
    cursor: pointer;
}

.filtros{
    width: 7vw;
    height: 2.5vh;
    margin-right:3vw ;
    border : 1px solid #000048;
    border-radius: 3px;
}

.tabela{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 45vh;
    background-color: #e6e6e6;
    border: 1px solid #000048;
    border-radius: 3px;
}
.tabela .opcoes{
    background-color: #000048;
    height: 4vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tabela .opcoes {
    color:#fff;
    font-weight: 600;
    font-size: 1.1rem;
}

.tabela .opcoes .op1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
    background-color: #494981;
    color: #fff;
    border-bottom: none;
}
.tabela .opcoes .op2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.tabela .opcoes .op3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
}   

.tabela .opcoes .op4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 100%;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.colunas{
    display: flex;
    align-items: center;
    background-color: #494981;
    color: #fff;
    font-weight: 800;
    font-size: 1.2rem;
    height: 3.5vh;
}
.faixa{
    display: flex;
    align-items: center;
    height: 3.5vh;
}
.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 100%;
    border-left: solid 1px #000;
    flex-wrap: wrap;
}
.colunas #nom_col{

    border: none;
}
.colunas #itens{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw; 
    height: 100%;
    border-left: solid 1px #000;
    flex-wrap: wrap;
}

/* Entrada */

.botoes{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5vh;
}
.btnAdd{
    background-color: #000048;
    border-radius: 3px;
    font-weight: 800;
    width: 10vw;
    color: #fff;
    height: 3vh;
    cursor: pointer;
}
.btnOk{
    background-color: #000048;
    border-radius: 3px;
    font-weight: 800;
    width: 7vw;
    color: #fff;
    height: 3vh;
    cursor: pointer;
}