*{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

body{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cabecalho{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.2vh;
    background-color:#000048;
}


.corpo img{
    width: 100%;
}

.corpo{
    height: 94vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 32vh;
    border: 2px solid #000048;
    border-radius: 3px;
}
.login h1{
    margin-top: 2.5vw;
    font-size: 2.5rem;
}

.senha{
    margin-top: 2vw;
    width: 22vw;
    height: 2.5vh;
    display: table;
    border : 1px solid #000048;
    border-radius: 3px;
}

.senha input{
    display: table-cell;
    width: 90%;
    margin-left: 0.5vw;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;

}

.usuario {
margin-top: 2vw;
width: 22vw;
height: 2.5vh;
display: table;
border : 1px solid #000048;
border-radius: 3px;
}

::placeholder{
    font-weight: 800;
}
.usuario input {
    display: table-cell;
    width: 90%;
    margin-left: 0.5vw;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;

}
   

.btn{
    margin-top: 2.5vw;
    width: 7vw;
    height: 3.5vh;
    background-color: #000048;
    color: #fff;
    font-weight: 800;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


